{# 
    references: 
    - https://getbootstrap.com/docs/5.2/components/navbar/#nav [date accessed: 25 March 2023]
    - https://getbootstrap.com/docs/5.2/layout/grid/ [date accessed: 25 March 2023]
#}
<header>
    <nav class="navbar navbar-expand-lg bg-light d-none d-lg-block">
        <div class="container-fluid">
            {% include 'includes/header/logo.html' %}

            <div class="container">
                <div class="row">
                    <div class="container collapse navbar-collapse" id="navbarScroll">
                        <div class="col">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                {% if current_user.is_authenticated %}

                                {% include 'includes/header/logged_in_li.html' %}
                                
                                {% else %}

                                {% include 'includes/header/logged_out_li.html' %}

                                {% endif %}
                            </ul>
                        </div>
                        {% if current_user.is_authenticated %}
                        <div class="col-2 text-end">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                            {% include 'includes/header/user_dropdown.html' %}
                            </ul>
                        </div>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-light d-sm-block d-lg-none">
        <div class="container-fluid">
            {% include 'includes/header/logo.html' %}

            <div class="container collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        {% if current_user.is_authenticated %}
                        
                        {% include 'includes/header/logged_in_li.html' %}

                        {% include 'includes/header/user_dropdown.html' %}

                        {% else %}

                        {% include 'includes/header/logged_out_li.html' %}

                        {% endif %}
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</header>