<!-- Student Home -->
<li class="nav-item pe-4">
    <a class="nav-link nav-link d-block d-lg-none d-xl-block" href="{{ url_for('students.student_home') }}">
        <i class="fa-solid fa-house"></i> Home
    </a>
    {# reference: https://getbootstrap.com/docs/4.0/components/tooltips/ #}
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Home" href="{{ url_for('students.student_home') }}">
        <i class="fa-solid fa-house"></i>
    </a>
</li>

<!-- Change this later to current modules -->
<!-- Modules -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('modules.module_user_list') }}">
        <i class="fa-solid fa-clipboard"></i> Modules
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="My modules" href="{{ url_for('modules.module_user_list') }}">
        <i class="fa-solid fa-clipboard"></i>
    </a>
</li>

<!-- Lecture -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('modules.module_lecture') }}">
        <!-- <i class="fa-solid fa-person-chalkboard"></i> -->
        <i class="fa-solid fa-chalkboard-user"></i> Lectures
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Lectures" href="{{ url_for('modules.module_lecture') }}">
        <!-- <i class="fa-solid fa-person-chalkboard"></i> -->
        <i class="fa-solid fa-chalkboard-user"></i>
    </a>
</li>

<!-- Notes -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('students.student_note') }}">
        <i class="fa-solid fa-note-sticky"></i> Notes
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Notes" href="{{ url_for('students.student_note') }}">
        <i class="fa-solid fa-note-sticky"></i>
    </a>
</li>

<!-- Posts -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('socials.social_post') }}">
        <i class="fa-solid fa-plus"></i> <span class="d-inline d-lg-none d-xl-inline">Posts</span>
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Posts" href="{{ url_for('socials.social_post') }}">
        <i class="fa-solid fa-plus"></i>
    </a>
</li>

<!-- Module Questions -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('modules.module_question') }}">
        <i class="fa-solid fa-question"></i> <span class="d-inline d-lg-none d-xl-inline">Questions</span>
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Questions" href="{{ url_for('modules.module_question') }}">
        <i class="fa-solid fa-question"></i>
    </a>
</li>

<!-- Messages -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('socials.social_message') }}">
        <i class="fa-regular fa-comments"></i> Messages
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Messages" href="{{ url_for('socials.social_message') }}">
        <i class="fa-regular fa-comments"></i>
    </a>
</li>
{% if current_user.is_admin %}
<!-- Admin Panel -->
<li class="nav-item pe-4">
    <a class="nav-link d-block d-lg-none d-xl-block" href="{{ url_for('admin.index') }}">
        <i class="fa-solid fa-toolbox"></i> Admin
    </a>
    <a class="nav-link d-none d-lg-block d-xl-none" data-toggle="tooltip" data-placement="bottom" title="Admin" href="{{ url_for('admin.index') }}">
        <i class="fa-solid fa-toolbox"></i>
    </a>
</li>
{% endif %}
