<li class="nav-item">
    <a class="nav-link" href="{{ url_for('index') }}">
        Home
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" class="privacy-btn" href="{{ url_for('privacy') }}">
        Privacy
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" class="login-btn" href="{{ url_for('users.login') }}">
        Login
    </a>
</li>
<li class="nav-item">
    <a class="nav-link" class="register-btn" href="{{ url_for('users.register') }}">
        Register
    </a>
</li>