<li class="nav-item pe-4">
    <a class="nav-link" href="{{ url_for('students.student_home') }}">
        <i class="fa-solid fa-house"></i> Home
    </a>
</li>

<!-- Change this later to current modules -->
<li class="nav-item pe-4">
    <a class="nav-link" href="{{ url_for('modules.module_list') }}">
        <i class="fa-solid fa-clipboard"></i> All modules
    </a>
</li>

<li class="nav-item pe-4">
    <a class="nav-link" href="{{ url_for('students.student_note') }}">
        <i class="fa-solid fa-note-sticky"></i> Notes
    </a>
</li>

<li class="nav-item pe-4">
    <a class="nav-link" href="#">
        <i class="fa-solid fa-question"></i> Posts
    </a>
</li>

<li class="nav-item pe-4">
    <a class="nav-link" href="{{ url_for('students.student_message') }}">
        <i class="fa-regular fa-comments"></i> Messages
    </a>
</li>