{# 
    references: 
    - https://getbootstrap.com/docs/5.2/components/navbar/#nav [date accessed: 25 March 2023]
    - https://getbootstrap.com/docs/5.2/layout/grid/ [date accessed: 25 March 2023]
#}
<header>
    <nav class="navbar navbar-expand-lg bg-light d-none d-lg-block">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-2 text-start">
                        <a class="navbar-brand" href="{{ url_for('index') }}">
                            Student Focus
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                    </div>

                    <div class="col-8">
                        <div class="container collapse navbar-collapse" id="navbarScroll">
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                {% if current_user.is_authenticated %}
                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('students.student_home') }}">
                                        Home
                                    </a>
                                </li>

                                {% else %}

                                <li class="nav-item">
                                    <a class="nav-link" href="{{ url_for('index') }}">
                                        Home
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="login-btn" href="{{ url_for('users.login') }}">
                                        Login
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" class="register-btn" href="{{ url_for('users.register') }}">
                                        Register
                                    </a>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                    <div class="col-2 text-end">
                        <div class="container collapse navbar-collapse" id="navbarScroll">
                            {% if current_user.is_authenticated %}
                            <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                                <li class="nav-item dropdown">
                                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                        Hello {{ current_user.username }}
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" href="{{ url_for('users.account') }}">
                                                Account
                                            </a>
                                        </li>
                                        <li>
                                            <span class="p-1"></span>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider">
                                        </li>
                                        <li>
                                            <a class="dropdown-item logout-btn" href="{{ url_for('users.logout') }}">
                                                Logout
                                            </a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                            {% endif %}
                        </div>
                    </div>
                </div>
                {#
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                #}
            </div>
        </div>
    </nav>

    <nav class="navbar navbar-expand-lg bg-light d-sm-block d-lg-none">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                Student Focus
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="container collapse navbar-collapse" id="navbarScroll">
                <div class="col-10">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('students.student_home') }}">
                                Home
                            </a>
                        </li>

                        {% else %}

                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('index') }}">
                                Home
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" class="login-btn" href="{{ url_for('users.login') }}">
                                Login
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" class="register-btn" href="{{ url_for('users.register') }}">
                                Register
                            </a>
                        </li>
                        {% endif %}
                    </ul>
                </div>
                {% if current_user.is_authenticated %}
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Hello {{ current_user.username }}
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" href="{{ url_for('users.account') }}">
                                        Account
                                    </a>
                                </li>
                                <li>
                                    <span class="p-1"></span>
                                </li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li>
                                    <a class="dropdown-item logout-btn" href="{{ url_for('users.logout') }}">
                                        Logout
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
                {% endif %}
                {#
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
                #}
            </div>
        </div>
    </nav>
</header>