{% extends "module/module_layout.html" %}
{% block module %}

{% from "helpers/cards.html" import card %}
{% from "helpers/blue_tile.html" import blue_tile %}

<div class="d-flex flex-wrap">
        <div class="col">
            <h1>{{ question.title }}</h1>
        </div>
        
        {% if question.solved == False %} 
        {% if current_user == question.user %}
        <div class="col text-end">
            <a href="{{ url_for('modules.module_question_solved', question_id = question_id) }}" class="btn btn-danger">Mark as Solved</a>
        </div>
        {% endif %}
        {% else %}
        <h3 class="text-danger">* Solved *</h3>
        {% endif %}
</div>

{% if question.description %}
<!-- reference: https://stackoverflow.com/a/62547787 -->
<div style="white-space:pre; overflow:hidden" class="text-wrap text-break">
    {{ question.description }}
</div>
{% else %}
<br><br>
{% endif %}

<div class="d-flex flex-wrap p-2">
    <div class="col">
        {% if current_user == question.user %}
        <span>Posted by: </span> YOU
        {% else %}
        <span>Posted by: </span> {{ question.user.username }}
        {% endif %}
    </div>
    <div class="">
        <span>Date posted: </span> {{ question.date.strftime('%I:%M, %d %b %Y') }} (UTC)
    </div>
</div>

<hr class="text-muted">

{% if comments.pages > 0 %}
<div class="d-flex flex-wrap p-2">
    {% for comment in comments.items %}
    {# reference for formating time: https://www.programiz.com/python-programming/datetime/strftime [accessed: 2 apr, 2023] #}
    {% set temp = comment.user.username + ' - ' + comment.date_sent.strftime('%I:%M, %d %b %Y') %}
    {# reference: https://stackoverflow.com/questions/36458482/how-to-not-render-a-entire-string-with-jinja2 [accessed: 26 Mar 2023] #}
    {{ card(
        title = temp,
        description = comment.message,
        width = 100
    ) }}
    {% endfor %}
</div>

{% if comments.pages > 1 %}
{# reference to my past code for pagination: https://github.com/Durigy/neighbourfy-v2/blob/main/main/templates/user/account.html #}
<!-- Pagination Links-->

<div aria-label="Comment Page Navigation">
    <ul class="pagination">
        <li class="page-item">
            <a href="{{ url_for('modules.module_question_single', question_id = question_id, comment_page=comments.prev_num) }}" {% if comments.page == 1 %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Previous
            </a>
        </li>

        {% for page_num in comments.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        
        <li class="page-item">
            <a class="page-link {% if page_num == comments.page %} text-danger {% endif %}" href="{{url_for('modules.module_question_single', question_id = question_id, comment_page=page_num)}}">
                {{page_num}}
            </a>
        </li>
        
        {% else %}
        
        <li class="page-item">
            <a class="page-link text-secondary" href="" style="pointer-events: none; cursor: default;">
                . . .
            </a>
        </li>
        
        {% endif %}
        {% endfor %}

        <li class="page-item">
            <a href="{{ url_for('modules.module_question_single', question_id = question_id, comment_page=comments.next_num) }}" {% if comments.page == comments.pages %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Next
            </a>
        </li>
    </ul>
</div>
{% endif %}

{% else %}
<div>
    There are no Comments here yet
</div>
{% endif %}

<br>
{# if the question has not been solved #}
{% if question.solved == False %}
<div>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        {{ form.message.label( class="form-label" ) }}
    
        <br>

        {{ form.message( class="form-control" ) }}
        
        {% if form.message.errors %}
            <div>
                {% for error in form.message.errors %}
                    <span style="color: red;">{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        {{ form.submit( class="btn btn-primary" ) }}
    </form>
</div>

<br><br><br>

{% endif %}

{{ blue_tile(title = 'Couldn\'t find what you were looking for?', description = ' Why not ask a question? You never know, who might have the answer you\'re looking for', link = url_for('modules.module_question_add'), link_text = 'I have a Question') }}

<br><br><br>

{% endblock module %}