{% extends "layout.html" %}
{% block content %}

{% from "helpers/cards.html" import card %}

<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h2>My Modules</h2>
    </div>
    <div class="">
        <a href="{{ url_for('modules.module_selection') }}" class="btn btn-secondary">Edit</a>
    </div>
</div>

<div class="">
    {% if subscribed_modules %}    
    <div class="d-flex flex-wrap p-2">
        {% for module in subscribed_modules %}
        {% set temp = module.module.code + " - " + module.module.name %}
        {{ card(title = temp, link = url_for('modules.module_single', module_id=module.module.id), link_text = 'View') }}
        {% endfor %}
    </div>
    {% else %}
    <h5>You haven't subscribed to any modules yet.</h5>
    {% endif %}
</div>

<br>
{% from "helpers/blue_tile.html" import blue_tile %}
{{ blue_tile(title = 'Subscribe to some modules', description = '', link = url_for('modules.module_selection'), link_text = 'Edit now') }}

{% endblock content %}