{% extends "layout.html" %}
{% block content %}

{% from "helpers/cards.html" import card %}

<h1>Recent Module Questions</h1>

<!-- This might be added later if I have time -->
<!-- <br>

<div class="ms-2 me-3">
    <form class="d-flex" role="search">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>

<br> -->

<div class="d-flex flex-wrap p-2">
    {% for i in range(10) %}
    {% set num = i + 1 %}
    {% set temp = 'Question ' + num | string + ' - ' + 'CM2101' %}
    {# reference: https://stackoverflow.com/questions/36458482/how-to-not-render-a-entire-string-with-jinja2 [accessed: 26 Mar 2023] #}
    {{ card(
        title = temp,
        description = '''
            this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a descriptionthis is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a descriptionthis is a description this is a description this is a description this is a description this is a description this is a description this is a description this is a description
        '''|truncate(150, True),
        link = '#',
        link_text = 'See More',
        width = 49
    ) }}
    {% endfor %}
</div>
{% endblock content %}