{% extends "module/module_layout.html" %}
{% block module %}

{% from "helpers/cards.html" import card %}
<div>

    <div class="d-flex flex-wrap p-2">
        <div class="col">
            <a href="{{ url_for('modules.module_single', module_id = module.id) }}"> <i class="fa-solid fa-arrow-left"></i> Back to module</a>
        </div>
        <div class="col-9">
            <h2>{{ module_image.title }}</h2>
        </div>
    </div>

    {% set image_name = img_url + module_image.imagekit_id %}
    
    <div class="text-center" style="overflow: hidden;">
        <img src="{{ image_name }}" class="card-img-top p-3" alt="{{ img_alt }}" style="max-height:800px; max-width 100%; height: auto;">
    </div>

    <br>
    
    <div class="d-flex flex-wrap p-2">
        <div class="col">
            Posted by: {{ module_image.user.username }}
        </div>

        <div class="col text-end">
            Date: {{ module_image.date.strftime('%I:%M, %d %b %Y') }} (UTC)
        </div>
    </div>

    <br>
    {% if module_image.description %}
    <h3>Description:</h3>
    {{ module_image.description }}
    {% endif %}
</div>

<br>
<br>
<br>

{% endblock module %}