{% extends "module/module_layout.html" %}
{% block module %}

<h3>Lecture Today</h3>
<br>
<a href="#" class="btn btn-secondary">See more lectures</a>

<hr>

<h3>Posts</h3>
<\ all posts will appeare here - paginated \>
<br>
<br>
<a href="#" class="btn btn-secondary">Post a Question</a>

<hr>

<h3>Module Chat</h3>
The live chat for this module
<br>
<br>
<a href="#" class="btn btn-secondary">Join the discussion!</a>

<hr>

<h3>Resources</h3>
This is for resources such as:
<ul>
    <li>images</li>
    <li>docs (words, pdf, etc)</li>
    <li>videos (lectures, youtube, etc)</li>
</ul>
<a href="#" class="btn btn-secondary">Add a resource</a>






<hr>

<h3>Resources</h3>
This is for resources such as:
<ul>
    <li>images</li>
    <li>docs (words, pdf, etc)</li>
    <li>videos (lectures, youtube, etc)</li>
</ul>
<a href="#" class="btn btn-secondary">Add a resource</a>

<hr>

<h3>Resources</h3>
This is for resources such as:
<ul>
    <li>images</li>
    <li>docs (words, pdf, etc)</li>
    <li>videos (lectures, youtube, etc)</li>
</ul>
<a href="#" class="btn btn-secondary">Add a resource</a>

<hr>

<h3>Resources</h3>
This is for resources such as:
<ul>
    <li>images</li>
    <li>docs (words, pdf, etc)</li>
    <li>videos (lectures, youtube, etc)</li>
</ul>
<a href="#" class="btn btn-secondary">Add a resource</a>

<br><br>

{% endblock module %}