{% extends "layout.html" %}
{% block content %}

{% from "helpers/cards.html" import card %}

<!-- <h1>This is your Student Home Page</h1>

<hr class="text-muted"> -->
<br>
<!-- the newest lecture -->
<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h3>Next Lecture</h3>
    </div>
</div>
{% if next_lecture %}
<div class="d-flex flex-wrap p-2">
{% set temp = next_lecture.title|truncate(40, True) + ' - ' + next_lecture.module.code  + ' | ' + next_lecture.date_start.strftime('%H:%M, %d %b %Y') %}
{{ card(
    title = temp,
    description = next_lecture.description|truncate(300, True) if next_lecture.description else None,
    link = url_for('modules.module_lecture_single', lecture_id = next_lecture.id),
    link_text = 'See More',
    width = 100
) }}
</div>
{% else %}
<em>No lectures to show yet</em>
<br>
{% endif %}

<br>
<a href="{{ url_for('modules.module_lecture') }}" class="btn btn-secondary">See All Lectures</a>

<br>
<br>

<hr class="text-muted">

<br>
<!-- the newest question -->
<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h3>Latest Question</h3>
        <span>In need of an Answer</span>
    </div>
    <div class="">
        <a href="{{ url_for('modules.module_question_add') }}" class="btn btn-secondary">I have a Question</a>
    </div>
</div>
{% if latest_question %}
<div class="d-flex flex-wrap p-2">
{% set temp = latest_question.title|truncate(40, True) + ' - ' + latest_question.module.code %}
{{ card(
    title = temp,
    description = latest_question.description|truncate(300, True) if latest_question.description else None,
    link = url_for('modules.module_question_single', question_id = latest_question.id),
    link_text = 'See More',
    width = 100
) }}
</div>
{% else %}
<em>No questions to show yet</em>
<br>
{% endif %}

<br>
<a href="{{ url_for('modules.module_question') }}" class="btn btn-secondary">See All Questions</a>

<br>
<br>

<hr class="text-muted">

<br>
<!-- the newest question -->
<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h3>Latest Post</h3>
    </div>
    <div class="">
        <a href="{{ url_for('modules.module_question_add') }}" class="btn btn-secondary">Post Something</a>
    </div>
</div>
{% if latest_post %}
<div class="d-flex flex-wrap p-2">
{% set temp = latest_post.title|truncate(40, True) %}
{{ card(
    title = temp,
    description = latest_post.description|truncate(300, True) if latest_post.description else None,
    link = url_for('socials.social_post_single', post_id = latest_post.id),
    link_text = 'See More',
    width = 100
) }}
</div>
{% else %}
<em>No one else has posted anything yet</em>
<br>
{% endif %}

<br>
<a href="{{ url_for('modules.module_question') }}" class="btn btn-secondary">See All Posts</a>

<br>
<br>

<hr class="text-muted">

<br>

<!-- resources -->
<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h3>Recent Recources</h3>
    </div>
    <div class="">
        <a href="{{ url_for('modules.module_resource_add') }}" class="btn btn-secondary">Add a Resource</a>
    </div>
</div>
<!-- <\ all resources will appeare here - paginated \> -->
{% if resources %}
{% if resources.pages > 0 %}
<div class="d-flex flex-wrap p-2">
    {% for resource in resources.items %}
    
    {# image #}
    {% if resource.image %}
    {#% set image_name = 'uploads/img/' + resource.image_id +'.png' %#}
    {% set image_name = img_url + resource.image.imagekit_id %}

    {{ card(
        title = resource.image.title|truncate(40, True),
        description = resource.image.description|truncate(300, True) if resource.image.description else None,
        img_source = image_name,
        link = url_for('modules.module_image_view', module_resource_id = resource.id),
        link_text = 'View',
        width = 32
    ) }}

    {# document #}
    {% else %}
    {{ card(
        title = resource.document.title|truncate(40, True),
        description = resource.document.description|truncate(300, True) if resource.document.description else None,
        img_source = url_for('static', filename = 'images/file-lines-regular.svg'),
        img_icon = true,
        link = url_for('modules.module_document_view', module_resource_id = resource.id),
        link_text = 'View',
        width = 32
    ) }}
    {% endif %}
    {% endfor %}
</div>


{% if resources.pages > 1 %}
{# reference to my past code for pagination: https://github.com/Durigy/neighbourfy-v2/blob/main/main/templates/user/account.html #}
<!-- Pagination Links-->

<div aria-label="Resource Page Navigation">
    <ul class="pagination">
        <li class="page-item">
            <a href="{{ url_for('students.student_home', resource_page = resources.prev_num) }}" {% if resources.page == 1 %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Previous
            </a>
        </li>

        {% for page_num in resources.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        
        <li class="page-item">
            <a class="page-link {% if page_num == resources.page %} text-danger {% endif %}" href="{{url_for('students.student_home', resource_page = page_num)}}">
                {{page_num}}
            </a>
        </li>
        
        {% else %}
        
        <li class="page-item">
            <a class="page-link text-secondary" href="" style="pointer-events: none; cursor: default;">
                . . .
            </a>
        </li>
        
        {% endif %}
        {% endfor %}

        <li class="page-item">
            <a href="{{ url_for('students.student_home', resource_page = resources.next_num) }}" {% if resources.page == resources.pages %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Next
            </a>
        </li>
    </ul>
</div>
{% endif %}

{% else %}
<div>
    <em>There are no resources for the module you follow yet</em>
</div>
{% endif %}

{% else %}
<div>
    <em>There are no resources for the module you follow yet</em>
</div>
{% endif %}
<br>

<hr class="text-muted">

<br>

<!-- user questions -->
<div class="d-flex flex-wrap p-2">
    <h3>My Questions</h3>
</div>

{% if user_questions %}
{% if user_questions.pages > 0 %}
<div class="d-flex flex-wrap p-2">
    {% for user_question in user_questions.items %}
    {% if user_question.solved == True %}
    {% set temp = user_question.title|truncate(40, True) + ' - ' + user_question.module.code + ' - Solved' %}
    {% else %}
    {% set temp = user_question.title|truncate(40, True) + ' - ' + user_question.module.code %}
    {% endif %}
    {# reference: https://stackoverflow.com/questions/36458482/how-to-not-render-a-entire-string-with-jinja2 [accessed: 26 Mar 2023] #}
    {{ card(
        title = temp,
        description = user_question.description|truncate(300, True) if user_question.description else None,
        link = url_for('modules.module_question_single', question_id = user_question.id),
        link_text = 'See More',
        width = 100
    ) }}
    {% endfor %}
</div>

{% if user_questions.pages > 1 %}
{# reference to my past code for pagination: https://github.com/Durigy/neighbourfy-v2/blob/main/main/templates/user/account.html #}
<!-- Pagination Links-->

<div aria-label="Question Page Navigation">
    <ul class="pagination">
        <li class="page-item">
            <a href="{{ url_for('modules.module_question', question_page = user_questions.page, user_question_page = user_questions.prev_num) }}" {% if user_questions.page == 1 %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Previous
            </a>
        </li>

        {% for page_num in user_questions.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=2) %}
        {% if page_num %}
        
        <li class="page-item">
            <a class="page-link {% if page_num == user_questions.page %} text-danger {% endif %}" href="{{url_for('modules.module_question', question_page = user_questions.page, user_question_page = page_num) }}">
                {{page_num}}
            </a>
        </li>
        
        {% else %}
        
        <li class="page-item">
            <a class="page-link text-secondary" href="" style="pointer-events: none; cursor: default;">
                . . .
            </a>
        </li>
        
        {% endif %}
        {% endfor %}

        <li class="page-item">
            <a href="{{ url_for('modules.module_question', question_page = user_questions.page, user_question_page = user_questions.next_num) }}" {% if user_questions.page == user_questions.pages %} style="pointer-events: none; cursor: default;" class = "page-link text-secondary"{% else %} class="page-link" {% endif %}>
                Next
            </a>
        </li>
    </ul>
</div>
{% endif %}

{% else %}
<div>
    <em>You haven't asked any questions yet</em>
</div>
{% endif %}

{% else %}
<div>
    <em>You haven't asked any questions yet</em>
</div>
{% endif %}

<br><br><br>


{% endblock content %}