{% extends "social/social_layout.html" %}
{% block social %}

{% from "helpers/cards.html" import card %}

<div class="d-flex flex-wrap p-2">
    <div class="col">
        <h1>Social messages</h1>
    </div>
    <div class="">
        <a href="{{ url_for('socials.social_user_list') }}" class="btn btn-secondary">New Message</a>
    </div>
</div>

<br>
<div>
        {#% for i in range(10) %#}
        {% for thread in my_aside_dict.message_threads %}
        {#% set num = i + 1 %#}
        {% set temp = 'Members: ' + thread.member_count | string + ' | Messages: ' + thread.message_count | string  %}
        {{ card(title = thread.name, link = url_for('socials.social_message_single', message_thread_id = thread.id), link_text = 'View Message', description = temp, width = 98) }}
        {% endfor %} 
</div>

<br>
    
{% endblock social %}