{% extends "social/social_layout.html" %}
{% block social %}

    {% from "helpers/cards.html" import card %}

    <h1>{% if user == current_user %}<span style="text-decoration: underline red;">Your</span> Public Profile{% else %}Public profile for <span style="text-decoration: underline red;">{{ user.username }}</span>{% endif %}</h1>

    <div>
        <div>
            Member Since: {{ user.join_date.strftime('%d %b %Y') }}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <h4>First Name:</h4>
            {{ user.firstname }}
            <br>
            <br>
        </div>
        <div class="col-md-6">
            <h4>Last Name:</h4>
            {{ user.lastname }}
        </div>
    </div>

    <br>

    <div class="row">
        <div class="col-md-6">
            <h4>Year:</h4>
            {% if user.university_year.name %}
            <span>{{ user.university_year.name }}</span>
            {% else %}
            <span>Tutor/Staff</span>
            {% endif %}
            <br>
            <br>
        </div>
        <div class="col-md-6">
            <h4>School:</h4>
            <span>{{ user.university_school.name }}</span>
        </div>
    </div>

    <br>
    
    <h4>Bio: </h4>
    <div style="white-space: pre;" class="text-break text-start">{{ user.profile.bio }}</div>
    
    <br>
    <hr>
    <br>

    <h3>Modules {% if user == current_user %}<span style="text-decoration: underline red;">you</span> take{% else %}<span style="text-decoration: underline red;">{{ user.username}}</span> takes{% endif %}</h3>

    <div class="">
        {% if users_modules %}    
        <div class="d-flex flex-wrap p-2">
            {% for module in users_modules %}
            {% set temp = module.module.code + " - " + module.module.name %}
            {{ card(title = temp, link = url_for('modules.module_single', module_id=module.module.id), link_text = 'View') }}
            {% endfor %}
        </div>
        {% else %}
        <h5>They haven't subscribed to any modules yet.</h5>
        {% endif %}
    </div>

    <br><br><br>
{% endblock social %}